<app-banner title="Signup"></app-banner>
<section class="contact-section section_padding">
  <div class="container">

  </div>
</section>
<div class="row justify-content-center">
  <div class="col-12">
    <h2 class="text-center mb-3 pb-3">SIGNUP</h2>
  </div>
  <div class="col-lg-8">
    <form [formGroup]="signupForm">
      <div class="row">

        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control" formControlName="name" type="text" onblur="this.placeholder = 'Enter your name'"
              placeholder='Enter your name'>
          </div>
          <div *ngIf="signupForm.controls['name'].invalid && (signupForm.controls['name'].touched ||
            signupForm.controls['name'].dirty)">
            <div *ngIf="signupForm.controls['name'].errors.required" class="red">
              Name is required
            </div>
            <div *ngIf="signupForm.controls['name'].errors.minlength" class="red">
              Name must have at least 3
            </div>
            <div *ngIf="signupForm.controls['name'].errors.maxlength" class="red">
              Name must have at most 20 chars
            </div>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control" formControlName="lastName" type="text"
              onblur="this.placeholder = 'Enter last name'" placeholder='Enter last name'>
          </div>
          <div *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched ||
            signupForm.controls['lastName'].dirty)">
            <div *ngIf="signupForm.controls['lastName'].errors.required" class="red">
              Name is required
            </div>
            <div *ngIf="signupForm.controls['lastName'].errors.minlength" class="red">
              Last Name must have at least 3
            </div>
            <div *ngIf="signupForm.controls['lastName'].errors.maxlength" class="red">
              Last Name must have at most 20 chars
            </div>

          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input class="form-control" formControlName="email" type="email" onblur="this.placeholder = 'Enter Email'"
              placeholder='Enter Email'>
          </div>
          <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched ||
            signupForm.controls['email'].dirty)">
            <div *ngIf="signupForm.controls['email'].errors.required" class="red">
              Email is required
            </div>
            <div *ngIf="signupForm.controls['email'].errors.email" class="red">
              Email is Not valide
            </div>


          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input class="form-control" formControlName="pwd" type="password"
              onblur="this.placeholder = 'Enter password'" placeholder='Enter password'>
          </div>
          <div *ngIf="signupForm.controls['pwd'].invalid && (signupForm.controls['pwd'].touched ||
            signupForm.controls['pwd'].dirty)">
            <div *ngIf="signupForm.controls['pwd'].errors.required" class="red">
              Name is required
            </div>
            <div *ngIf="signupForm.controls['pwd'].errors.minlength" class="red">
              Password must have at least 6
            </div>
            <div *ngIf="signupForm.controls['pwd'].errors.maxlength" class="red">
              Password must have at most 12 chars
            </div>

          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input class="form-control" formControlName="confirmPwd" type="password"
              onblur="this.placeholder = 'Enter password'" placeholder='Enter Confirme password'>
          </div>
          <div *ngIf="signupForm.controls['confirmPwd'].invalid && (signupForm.controls['confirmPwd'].dirty||
              signupForm.controls['confirmPwd'].touched)">
            <div *ngIf="signupForm.controls['confirmPwd'].errors.confirmError" class="red">
              Confirm Pwd does not match PWD. </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input class="form-control" formControlName="tel" type="number" onblur="this.placeholder = 'Enter Tel'"
              placeholder=' Enter Telephone'>
          </div>
          <div *ngIf="signupForm.controls['tel'].invalid && (signupForm.controls['tel'].touched ||
            signupForm.controls['tel'].dirty)">
            <div *ngIf="signupForm.controls['tel'].errors.required" class="red">
              Name is required
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input class="form-control" formControlName="adresse" type="text"
              onblur="this.placeholder = 'Enter Adresse'" placeholder='Enter Adresse'>
          </div>
          <div *ngIf="signupForm.controls['adresse'].invalid && (signupForm.controls['adresse'].touched ||
            signupForm.controls['adresse'].dirty)">
            <div *ngIf="signupForm.controls['adresse'].errors.required" class="red">
              Name is required
            </div>
            <div *ngIf="signupForm.controls['adresse'].errors.minlength" class="red">
              Adresse must have at least 5
            </div>
            <div *ngIf="signupForm.controls['adresse'].errors.maxlength" class="red">
              Adresse must have at most 20 chars
            </div>

          </div>
        </div>
      </div>
      <div class="form-group" style="visibility: hidden;">
        <input type="file" class="form-control" #filePicker  (change)="onImageSelected($event)">
      </div>
      <div class="text-center">
        <button class="btn btn-info" (click)="filePicker.click()">Please Select Your Avatar</button> <br>
        <img [src]="imagePreview" *ngIf="imagePreview" class="pt-3 pb-3" width="200px" height="200px" alt="">
      </div>
      <div class="text-center">
        <button (click)="signup()" [disabled]="signupForm.invalid" type="submit"
          class="button button-contactForm btn_4">SIGNUP</button>
        <p style="color: rgb(23, 120, 205);">You don't have an account? <a href="#">Login</a></p>
      </div>
    </form>
  </div>

</div>