<app-banner title="Users Table"></app-banner>
<form action="">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Telphone</th>
        <th scope="col">Adresse</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <th scope="row">{{u.id}}</th>
        <td>{{u.name}}</td>
        <td>{{u.lastName}}</td>
        <td>{{u.email}}</td>
        <td>{{u.pwd}}</td>
        <td>{{u.tel}}</td>
        <td>{{u.adresse}}</td>
        <td><button type="button" class="btn btn-primary">Display</button></td>
        <td><button type="button" class="btn btn-warning" (click)="goToEdit(u.id)">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteUsers(u.id)">Delete</button></td>
      </tr>
    
    </tbody>
  </table>
</form>